.header{
    background-color: #282c34;
    padding: 20px;
    text-align: left;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
}